@keyframes CDCover {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-webkit-keyframes CDCover {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-moz-keyframes CDCover {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-o-keyframes CDCover {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}